html {
  box-sizing: initial;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ff7a7a;
  background-image: url("../images/bg-intro-mobile.png");
  font-family: "Poppins", sans-serif;
}

@media (min-width: 40em) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }
}

main {
  display: flex;
  flex-flow: wrap column;
}

@media (min-width: 40em) {
  main {
    flex-flow: wrap row;
  }
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.__free {
  width: 20.625rem;
  height: 5.625rem;
  margin: auto auto 1.5rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #6055a5;
  box-shadow: 0px 5px 0px rgba(62, 60, 73, 0.5);
}

@media (min-width: 40em) {
  .__free {
    width: 23rem;
    height: 3.75rem;
    margin-top: 5.5rem;
  }
}

@media (min-width: 64em) {
  .__free {
    width: 30rem;
    height: 3.75rem;
    margin-top: 7.5rem;
  }
}

@media (min-width: 87.5em) {
  .__free {
    width: 34rem;
    height: 3.75rem;
    margin-top: 7.5rem;
  }
}

.__free .__free-text {
  width: 70%;
  margin: auto;
  color: white;
  text-align: center;
  opacity: 0.9;
}

.__free:hover {
  transform: scale(1.025);
  transition: transform 150ms ease-in;
  cursor: default;
}

@media (min-width: 40em) {
  .__form {
    width: 50%;
  }
}

.__form form {
  width: 20.625rem;
  margin: auto auto 3rem auto;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 0px rgba(62, 60, 73, 0.5);
}

@media (min-width: 40em) {
  .__form form {
    width: 23rem;
  }
}

@media (min-width: 64em) {
  .__form form {
    width: 30rem;
  }
}

@media (min-width: 87.5em) {
  .__form form {
    width: 34rem;
  }
}

.__form form ul {
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.__form form ul li {
  width: 17.5rem;
  margin: 1rem auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-flow: wrap row;
}

@media (min-width: 40em) {
  .__form form ul li {
    width: 21rem;
  }
}

@media (min-width: 64em) {
  .__form form ul li {
    width: 27rem;
  }
}

@media (min-width: 87.5em) {
  .__form form ul li {
    width: 32rem;
  }
}

.__form form input[type="text"] {
  appearance: none;
}

.__form form input {
  width: 100%;
  position: relative;
  padding: 1rem 0 1rem 2rem;
  font-family: inherit;
  font-weight: 700;
  border: 1px solid #b9b6d3;
  border-radius: 0.35rem;
}

.__form form input::placeholder {
  padding-left: 0.2rem;
  font-weight: 700;
  font-size: 0.9rem;
}

.__form form input:focus,
.__form form input :active {
  background-color: white;
  border: 1px solid #b9b6d3;
}

.__form form input:focus:invalid,
.__form form input:focus:valid {
  outline: none;
}

.__form form input:invalid.error {
  border-color: #ff7a7a;
}

.__form form .__icon {
  position: relative;
}

.__form form .__icon::before {
  content: " ";
  position: absolute;
  top: -2.5rem;
  right: -16.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/icon-error.svg");
}

@media (min-width: 40em) {
  .__form form .__icon::before {
    right: -19.5rem;
  }
}

@media (min-width: 64em) {
  .__form form .__icon::before {
    right: -26.5rem;
  }
}

@media (min-width: 87.5em) {
  .__form form .__icon::before {
    right: -30.5rem;
  }
}

.__form form .error-span {
  width: 100%;
  margin: 0.25rem 0.5rem 0 0;
  color: #ff7a7a;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: end;
  font-style: italic;
}

.__form form .__error-msg {
  position: absolute;
  bottom: -30px;
  left: 1px;
  width: 275px;
  height: 24px;
  color: #ff7a7a;
  padding-bottom: 10px;
}

.__form form .__submit {
  width: 100%;
  height: 3.25rem;
  padding: 0;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  font-size: 1rem;
  background-color: #38cc8c;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0px 5px 2px #11754a;
}

.__form form .__submit:hover {
  transform: scale(1.025);
  transition: transform 150ms ease-in;
  cursor: pointer;
}

.__form form .__terms-and-service {
  width: 85%;
  margin: auto;
  font-size: 0.7rem;
  text-align: center;
  color: #b9b6d3;
}

.__form form .__terms-and-service a {
  text-decoration: none;
  color: red;
  font-weight: 700;
}

.__form form .__terms-and-service a:visited {
  color: #6055a5;
}

.__description {
  max-width: 90%;
  margin: auto;
}

@media (min-width: 40em) {
  .__description {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}

.__description .__container {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
}

@media (min-width: 40em) {
  .__description .__container {
    margin: 6rem 0 0 0.5rem;
  }
}

@media (min-width: 64em) {
  .__description .__container {
    margin: 9rem 0 0 5rem;
  }
}

@media (min-width: 87.5em) {
  .__description .__container {
    margin: 11rem 0 0 7rem;
  }
}

.__description .__container .__title {
  width: 15rem;
  margin-top: 5.25rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 40em) {
  .__description .__container .__title {
    width: 20rem;
    font-size: 1.7rem;
    text-align: center;
  }
}

@media (min-width: 64em) {
  .__description .__container .__title {
    width: 25rem;
    font-size: 2.6rem;
    text-align: left;
  }
}

@media (min-width: 87.5em) {
  .__description .__container .__title {
    width: 30rem;
    margin-left: -160px;
    font-size: 3rem;
    text-align: left;
  }
}

.__description .__container .__text {
  width: 19.625rem;
  margin: 0 auto 4.375rem auto;
  color: white;
  text-align: center;
  opacity: 0.9;
}

@media (min-width: 40em) {
  .__description .__container .__text {
    width: 19rem;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
  }
}

@media (min-width: 64em) {
  .__description .__container .__text {
    width: 25rem;
    font-size: 1.1rem;
    text-align: left;
    line-height: 1.6;
  }
}

@media (min-width: 87.5em) {
  .__description .__container .__text {
    width: 40rem;
    font-size: 1.2rem;
    text-align: left;
    line-height: 2;
  }
}
/*# sourceMappingURL=style.css.map */