.__free {
  width: 20.625rem;
  height: 5.625rem;
  margin: auto auto 1.5rem auto;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: $blue;
  box-shadow: 0px 5px 0px hsla(249, 10%, 26%, 0.5);

  @include breakpoint-up(medium) {
    width: 23rem;
    height: 3.75rem;
    margin-top: 5.5rem;
  }
  @include breakpoint-up(large) {
    width: 30rem;
    height: 3.75rem;
    margin-top: 7.5rem;
  }
  @include breakpoint-up(xlarge) {
    width: 34rem;
    height: 3.75rem;
    margin-top: 7.5rem;
  }

  .__free-text {
    width: 70%;
    margin: auto;
    color: white;
    text-align: center;
    opacity: 0.9;
  }
}
.__free:hover {
  transform: scale(1.025);
  transition: transform 150ms ease-in;
  cursor: default;
}
.__form {
  @include breakpoint-up(medium) {
    width: 50%;
  }
  form {
    width: 20.625rem;
    margin: auto auto 3rem auto;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 0px hsla(249, 10%, 26%, 0.5);

    @include breakpoint-up(medium) {
      width: 23rem;
    }
    @include breakpoint-up(large) {
      width: 30rem;
    }
    @include breakpoint-up(xlarge) {
      width: 34rem;
    }

    ul {
      margin: 0;
      padding: 1rem;
      list-style: none;

      li {
        width: 17.5rem;
        margin: 1rem auto;
        padding: 0;
        position: relative;
        display: flex;
        flex-flow: wrap row;

        @include breakpoint-up(medium) {
          width: 21rem;
        }
        @include breakpoint-up(large) {
          width: 27rem;
        }
        @include breakpoint-up(xlarge) {
          width: 32rem;
        }
      }
    }
    input[type="text"] {
      -webkit-appearance: none;
      appearance: none;
    }
    input {
      width: 100%;
      position: relative;
      padding: 1rem 0 1rem 2rem;
      font-family: inherit;
      font-weight: 700;
      border: 1px solid $grayishBlue;
      border-radius: 0.35rem;

      &::placeholder {
        padding-left: 0.2rem;
        font-weight: 700;
        font-size: 0.9rem;
      }
      &:focus,
      :active {
        background-color: white;
        border: 1px solid $grayishBlue;
      }
    }
    input:focus:invalid,
    input:focus:valid {
      outline: none;
    }

    //Validation classes with JS

    input:invalid.error {
      border-color: $red;
    }
    .__icon {
      position: relative;
    }

    //Validation classes with JS
    .__icon::before {
      content: " ";
      position: absolute;
      top: -2.5rem;
      right: -16.5rem;
      width: 1.5rem;
      height: 1.5rem;
      background-image: url("../images/icon-error.svg");

      @include breakpoint-up(medium) {
        right: -19.5rem;
      }
      @include breakpoint-up(large) {
        right: -26.5rem;
      }
      @include breakpoint-up(xlarge) {
        right: -30.5rem;
      }
    }
    .error-span {
      width: 100%;
      margin: 0.25rem 0.5rem 0 0;
      color: $red;
      font-size: 0.8rem;
      font-weight: 600;
      text-align: end;
      font-style: italic;
    }
    .__error-msg {
      position: absolute;
      bottom: -30px;
      left: 1px;
      width: 275px;
      height: 24px;
      color: $red;
      padding-bottom: 10px;
    }
    .__submit {
      width: 100%;
      height: 3.25rem;
      padding: 0;
      font-family: inherit;
      text-transform: uppercase;
      color: white;
      font-size: 1rem;
      background-color: $green;
      border-radius: 0.5rem;
      border: none;
      box-shadow: 0px 5px 2px rgb(17, 117, 74);

      &:hover {
        transform: scale(1.025);
        transition: transform 150ms ease-in;
        cursor: pointer;
      }
    }
    .__terms-and-service {
      width: 85%;
      margin: auto;
      font-size: 0.7rem;
      text-align: center;
      color: $grayishBlue;

      a {
        text-decoration: none;
        color: red;
        font-weight: 700;

        &:visited {
          color: $blue;
        }
      }
    }
  }
}
