html {
  box-sizing: initial;
  font-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $red;
  background-image: url("../images/bg-intro-mobile.png");
  font-family: "Poppins", sans-serif;

  @include breakpoint-up(medium) {
    background-image: url("../images/bg-intro-desktop.png");
  }
}
main {
  display: flex;
  flex-flow: wrap column;

  @include breakpoint-up(medium) {
    flex-flow: wrap row;
  }
}
footer {
  position: static;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
}
